In [85]:
import numpy as np
import csv
from sklearn.cross_validation import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.externals import joblib
from sklearn.metrics import roc_curve, auc
from sklearn.cross_validation import train_test_split
from sklearn.cross_validation import StratifiedKFold
from scipy import interp
from  matplotlib import pyplot as plt
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.feature_extraction import DictVectorizer

In [21]:
class passengerManager():

    featureName = ['Pclass', 'Name', \
                    'Sex', 'Age', \
                    'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
    survivals = {"Survived": 1, "Not Survived" : 0}
    m_path = 'pkl/'

In [23]:
    def __init__(self):
            self.model = None
            self.features = []
            self.normalizedFeatures = []
            self.labels = []
            self.n_classes = 0
            self.paramPath = ""


    def initializeTrainData(self, data):
        self.features, self.normalizedFeatures = self.parseTrainFeatures(data)
        self.labels = list(map(lambda x: passengerManager.survivals[x.survival], data))
        self.n_classes = len(np.unique(self.labels))


    def calculateAve(self, feature):
        return [np.mean(a) for a in feature]


    def calculateStd(self, feature):
        return [np.std(a) for a in feature]

In [3]:
with open("train.csv", 'r') as csvfile:
        matrixReader = csv.reader(csvfile, delimiter= ',', quotechar='|')

In [102]:
data = pd.read_csv('train.csv')

In [103]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,NaN,C
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58,0,0,113783,26.5500,C103,S
12,13,0,3,"Saundercock, Mr. William Henry",male,20,0,0,A/5. 2151,8.0500,NaN,S
13,14,0,3,"Andersson, Mr. Anders Johan",male,39,1,5,347082,31.2750,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14,0,0,350406,7.8542,NaN,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55,0,0,248706,16.0000,NaN,S
16,17,0,3,"Rice, Master. Eugene",male,2,4,1,382652,29.1250,NaN,Q
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31,1,0,345763,18.0000,NaN,S
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
20,21,0,2,"Fynney, Mr. Joseph J",male,35,0,0,239865,26.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34,0,0,248698,13.0000,D56,S
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15,0,0,330923,8.0292,NaN,Q
23,24,1,1,"Sloper, Mr. William Thompson",male,28,0,0,113788,35.5000,A6,S
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8,3,1,349909,21.0750,NaN,S
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38,1,5,347077,31.3875,NaN,S
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19,3,2,19950,263.0000,C23 C25 C27,S
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21,1,0,28134,11.5000,NaN,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48,0,0,17466,25.9292,D17,S
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,865,0,2,"Gill, Mr. John William",male,24,0,0,233866,13.0000,NaN,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42,0,0,236852,13.0000,NaN,S
866,867,1,2,"Duran y More, Miss. Asuncion",female,27,1,0,SC/PARIS 2149,13.8583,NaN,C
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31,0,0,PC 17590,50.4958,A24,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4,1,1,347742,11.1333,NaN,S
870,871,0,3,"Balkic, Mr. Cerin",male,26,0,0,349248,7.8958,NaN,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33,0,0,695,5.0000,B51 B53 B55,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47,0,0,345765,9.0000,NaN,S
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15,0,0,2667,7.2250,NaN,C
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20,0,0,7534,9.8458,NaN,S
877,878,0,3,"Petroff, Mr. Nedelio",male,19,0,0,349212,7.8958,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25,0,1,230433,26.0000,NaN,S
881,882,0,3,"Markun, Mr. Johann",male,33,0,0,349257,7.8958,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22,0,0,7552,10.5167,NaN,S
883,884,0,2,"Banfield, Mr. Frederick James",male,28,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32,0,0,370376,7.7500,NaN,Q

In [104]:
data.drop(data.columns[[0, 3]], axis=1, inplace=True)

In [105]:
data

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,male,22,1,0,A/5 21171,7.2500,NaN,S
1,1,1,female,38,1,0,PC 17599,71.2833,C85,C
2,1,3,female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,female,35,1,0,113803,53.1000,C123,S
4,0,3,male,35,0,0,373450,8.0500,NaN,S
5,0,3,male,NaN,0,0,330877,8.4583,NaN,Q
6,0,1,male,54,0,0,17463,51.8625,E46,S
7,0,3,male,2,3,1,349909,21.0750,NaN,S
8,1,3,female,27,0,2,347742,11.1333,NaN,S
9,1,2,female,14,1,0,237736,30.0708,NaN,C
10,1,3,female,4,1,1,PP 9549,16.7000,G6,S
11,1,1,female,58,0,0,113783,26.5500,C103,S
12,0,3,male,20,0,0,A/5. 2151,8.0500,NaN,S
13,0,3,male,39,1,5,347082,31.2750,NaN,S
14,0,3,female,14,0,0,350406,7.8542,NaN,S
15,1,2,female,55,0,0,248706,16.0000,NaN,S
16,0,3,male,2,4,1,382652,29.1250,NaN,Q
17,1,2,male,NaN,0,0,244373,13.0000,NaN,S
18,0,3,female,31,1,0,345763,18.0000,NaN,S
19,1,3,female,NaN,0,0,2649,7.2250,NaN,C
20,0,2,male,35,0,0,239865,26.0000,NaN,S
21,1,2,male,34,0,0,248698,13.0000,D56,S
22,1,3,female,15,0,0,330923,8.0292,NaN,Q
23,1,1,male,28,0,0,113788,35.5000,A6,S
24,0,3,female,8,3,1,349909,21.0750,NaN,S
25,1,3,female,38,1,5,347077,31.3875,NaN,S
26,0,3,male,NaN,0,0,2631,7.2250,NaN,C
27,0,1,male,19,3,2,19950,263.0000,C23 C25 C27,S
28,1,3,female,NaN,0,0,330959,7.8792,NaN,Q
29,0,3,male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...
861,0,2,male,21,1,0,28134,11.5000,NaN,S
862,1,1,female,48,0,0,17466,25.9292,D17,S
863,0,3,female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,0,2,male,24,0,0,233866,13.0000,NaN,S
865,1,2,female,42,0,0,236852,13.0000,NaN,S
866,1,2,female,27,1,0,SC/PARIS 2149,13.8583,NaN,C
867,0,1,male,31,0,0,PC 17590,50.4958,A24,S
868,0,3,male,NaN,0,0,345777,9.5000,NaN,S
869,1,3,male,4,1,1,347742,11.1333,NaN,S
870,0,3,male,26,0,0,349248,7.8958,NaN,S
871,1,1,female,47,1,1,11751,52.5542,D35,S
872,0,1,male,33,0,0,695,5.0000,B51 B53 B55,S
873,0,3,male,47,0,0,345765,9.0000,NaN,S
874,1,2,female,28,1,0,P/PP 3381,24.0000,NaN,C
875,1,3,female,15,0,0,2667,7.2250,NaN,C
876,0,3,male,20,0,0,7534,9.8458,NaN,S
877,0,3,male,19,0,0,349212,7.8958,NaN,S
878,0,3,male,NaN,0,0,349217,7.8958,NaN,S
879,1,1,female,56,0,1,11767,83.1583,C50,C
880,1,2,female,25,0,1,230433,26.0000,NaN,S
881,0,3,male,33,0,0,349257,7.8958,NaN,S
882,0,3,female,22,0,0,7552,10.5167,NaN,S
883,0,2,male,28,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,0,3,male,25,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,0,3,female,39,0,5,382652,29.1250,NaN,Q
886,0,2,male,27,0,0,211536,13.0000,NaN,S
887,1,1,female,19,0,0,112053,30.0000,B42,S
888,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,1,1,male,26,0,0,111369,30.0000,C148,C
890,0,3,male,32,0,0,370376,7.7500,NaN,Q

In [106]:
data['Sex'] = data['Sex'].map({'female': 1, 'male': 0})

In [107]:
data

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,0,22,1,0,A/5 21171,7.2500,NaN,S
1,1,1,1,38,1,0,PC 17599,71.2833,C85,C
2,1,3,1,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,1,35,1,0,113803,53.1000,C123,S
4,0,3,0,35,0,0,373450,8.0500,NaN,S
5,0,3,0,NaN,0,0,330877,8.4583,NaN,Q
6,0,1,0,54,0,0,17463,51.8625,E46,S
7,0,3,0,2,3,1,349909,21.0750,NaN,S
8,1,3,1,27,0,2,347742,11.1333,NaN,S
9,1,2,1,14,1,0,237736,30.0708,NaN,C
10,1,3,1,4,1,1,PP 9549,16.7000,G6,S
11,1,1,1,58,0,0,113783,26.5500,C103,S
12,0,3,0,20,0,0,A/5. 2151,8.0500,NaN,S
13,0,3,0,39,1,5,347082,31.2750,NaN,S
14,0,3,1,14,0,0,350406,7.8542,NaN,S
15,1,2,1,55,0,0,248706,16.0000,NaN,S
16,0,3,0,2,4,1,382652,29.1250,NaN,Q
17,1,2,0,NaN,0,0,244373,13.0000,NaN,S
18,0,3,1,31,1,0,345763,18.0000,NaN,S
19,1,3,1,NaN,0,0,2649,7.2250,NaN,C
20,0,2,0,35,0,0,239865,26.0000,NaN,S
21,1,2,0,34,0,0,248698,13.0000,D56,S
22,1,3,1,15,0,0,330923,8.0292,NaN,Q
23,1,1,0,28,0,0,113788,35.5000,A6,S
24,0,3,1,8,3,1,349909,21.0750,NaN,S
25,1,3,1,38,1,5,347077,31.3875,NaN,S
26,0,3,0,NaN,0,0,2631,7.2250,NaN,C
27,0,1,0,19,3,2,19950,263.0000,C23 C25 C27,S
28,1,3,1,NaN,0,0,330959,7.8792,NaN,Q
29,0,3,0,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...
861,0,2,0,21,1,0,28134,11.5000,NaN,S
862,1,1,1,48,0,0,17466,25.9292,D17,S
863,0,3,1,NaN,8,2,CA. 2343,69.5500,NaN,S
864,0,2,0,24,0,0,233866,13.0000,NaN,S
865,1,2,1,42,0,0,236852,13.0000,NaN,S
866,1,2,1,27,1,0,SC/PARIS 2149,13.8583,NaN,C
867,0,1,0,31,0,0,PC 17590,50.4958,A24,S
868,0,3,0,NaN,0,0,345777,9.5000,NaN,S
869,1,3,0,4,1,1,347742,11.1333,NaN,S
870,0,3,0,26,0,0,349248,7.8958,NaN,S
871,1,1,1,47,1,1,11751,52.5542,D35,S
872,0,1,0,33,0,0,695,5.0000,B51 B53 B55,S
873,0,3,0,47,0,0,345765,9.0000,NaN,S
874,1,2,1,28,1,0,P/PP 3381,24.0000,NaN,C
875,1,3,1,15,0,0,2667,7.2250,NaN,C
876,0,3,0,20,0,0,7534,9.8458,NaN,S
877,0,3,0,19,0,0,349212,7.8958,NaN,S
878,0,3,0,NaN,0,0,349217,7.8958,NaN,S
879,1,1,1,56,0,1,11767,83.1583,C50,C
880,1,2,1,25,0,1,230433,26.0000,NaN,S
881,0,3,0,33,0,0,349257,7.8958,NaN,S
882,0,3,1,22,0,0,7552,10.5167,NaN,S
883,0,2,0,28,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,0,3,0,25,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,0,3,1,39,0,5,382652,29.1250,NaN,Q
886,0,2,0,27,0,0,211536,13.0000,NaN,S
887,1,1,1,19,0,0,112053,30.0000,B42,S
888,0,3,1,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,1,1,0,26,0,0,111369,30.0000,C148,C
890,0,3,0,32,0,0,370376,7.7500,NaN,Q

In [100]:
print (data.describe())

         Survived      Pclass         Sex         Age       SibSp       Parch  \
count  891.000000  891.000000  891.000000  714.000000  891.000000  891.000000
mean     0.383838    2.308642    0.352413   29.699118    0.523008    0.381594
std      0.486592    0.836071    0.477990   14.526497    1.102743    0.806057
min      0.000000    1.000000    0.000000    0.420000    0.000000    0.000000
25%      0.000000    2.000000    0.000000   20.125000    0.000000    0.000000
50%      0.000000    3.000000    0.000000   28.000000    0.000000    0.000000
75%      1.000000    3.000000    1.000000   38.000000    1.000000    0.000000
max      1.000000    3.000000    1.000000   80.000000    8.000000    6.000000

             Fare
count  891.000000
mean    32.204208
std     49.693429
min      0.000000
25%      7.910400
50%     14.454200
75%     31.000000
max    512.329200

In [108]:
y = data["Survived"].as_matrix()

In [111]:
features.drop(features.columns[[0]], axis=1, inplace=True)

In [112]:
features

,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
2,3,1,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,35,1,0,113803,53.1000,C123,S
4,3,0,35,0,0,373450,8.0500,NaN,S
5,3,0,NaN,0,0,330877,8.4583,NaN,Q
6,1,0,54,0,0,17463,51.8625,E46,S
7,3,0,2,3,1,349909,21.0750,NaN,S
8,3,1,27,0,2,347742,11.1333,NaN,S
9,2,1,14,1,0,237736,30.0708,NaN,C
10,3,1,4,1,1,PP 9549,16.7000,G6,S
11,1,1,58,0,0,113783,26.5500,C103,S
12,3,0,20,0,0,A/5. 2151,8.0500,NaN,S
13,3,0,39,1,5,347082,31.2750,NaN,S
14,3,1,14,0,0,350406,7.8542,NaN,S
15,2,1,55,0,0,248706,16.0000,NaN,S
16,3,0,2,4,1,382652,29.1250,NaN,Q
17,2,0,NaN,0,0,244373,13.0000,NaN,S
18,3,1,31,1,0,345763,18.0000,NaN,S
19,3,1,NaN,0,0,2649,7.2250,NaN,C
20,2,0,35,0,0,239865,26.0000,NaN,S
21,2,0,34,0,0,248698,13.0000,D56,S
22,3,1,15,0,0,330923,8.0292,NaN,Q
23,1,0,28,0,0,113788,35.5000,A6,S
24,3,1,8,3,1,349909,21.0750,NaN,S
25,3,1,38,1,5,347077,31.3875,NaN,S
26,3,0,NaN,0,0,2631,7.2250,NaN,C
27,1,0,19,3,2,19950,263.0000,C23 C25 C27,S
28,3,1,NaN,0,0,330959,7.8792,NaN,Q
29,3,0,NaN,0,0,349216,7.8958,NaN,S
30,1,0,40,0,0,PC 17601,27.7208,NaN,C
31,1,1,NaN,1,0,PC 17569,146.5208,B78,C
...,...,...,...,...,...,...,...,...,...
861,2,0,21,1,0,28134,11.5000,NaN,S
862,1,1,48,0,0,17466,25.9292,D17,S
863,3,1,NaN,8,2,CA. 2343,69.5500,NaN,S
864,2,0,24,0,0,233866,13.0000,NaN,S
865,2,1,42,0,0,236852,13.0000,NaN,S
866,2,1,27,1,0,SC/PARIS 2149,13.8583,NaN,C
867,1,0,31,0,0,PC 17590,50.4958,A24,S
868,3,0,NaN,0,0,345777,9.5000,NaN,S
869,3,0,4,1,1,347742,11.1333,NaN,S
870,3,0,26,0,0,349248,7.8958,NaN,S
871,1,1,47,1,1,11751,52.5542,D35,S
872,1,0,33,0,0,695,5.0000,B51 B53 B55,S
873,3,0,47,0,0,345765,9.0000,NaN,S
874,2,1,28,1,0,P/PP 3381,24.0000,NaN,C
875,3,1,15,0,0,2667,7.2250,NaN,C
876,3,0,20,0,0,7534,9.8458,NaN,S
877,3,0,19,0,0,349212,7.8958,NaN,S
878,3,0,NaN,0,0,349217,7.8958,NaN,S
879,1,1,56,0,1,11767,83.1583,C50,C
880,2,1,25,0,1,230433,26.0000,NaN,S
881,3,0,33,0,0,349257,7.8958,NaN,S
882,3,1,22,0,0,7552,10.5167,NaN,S
883,2,0,28,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,3,0,25,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,3,1,39,0,5,382652,29.1250,NaN,Q
886,2,0,27,0,0,211536,13.0000,NaN,S
887,1,1,19,0,0,112053,30.0000,B42,S
888,3,1,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,1,0,26,0,0,111369,30.0000,C148,C
890,3,0,32,0,0,370376,7.7500,NaN,Q

In [113]:
features['Ticket_enc'] = pd.factorize(features['Ticket'])[0]
features['Cabin_enc'] = pd.factorize(features['Cabin'])[0]
features['Embarked_enc'] = pd.factorize(features['Embarked'])[0]

In [115]:
features.drop(features.columns[[5, 7, 8]], axis=1, inplace=True)

In [116]:
features

     Pclass  Sex  Age  SibSp  Parch  Ticket_enc
2         3    1   26      0      0           0
3         1    1   35      1      0           1
4         3    0   35      0      0           2
5         3    0  NaN      0      0           3
6         1    0   54      0      0           4
7         3    0    2      3      1           5
8         3    1   27      0      2           6
9         2    1   14      1      0           7
10        3    1    4      1      1           8
11        1    1   58      0      0           9
12        3    0   20      0      0          10
13        3    0   39      1      5          11
14        3    1   14      0      0          12
15        2    1   55      0      0          13
16        3    0    2      4      1          14
17        2    0  NaN      0      0          15
18        3    1   31      1      0          16
19        3    1  NaN      0      0          17
20        2    0   35      0      0          18
21        2    0   34      0      0          19
22        3    1   15      0      0          20
23        1    0   28      0      0          21
24        3    1    8      3      1           5
25        3    1   38      1      5          22
26        3    0  NaN      0      0          23
27        1    0   19      3      2          24
28        3    1  NaN      0      0          25
29        3    0  NaN      0      0          26
30        1    0   40      0      0          27
31        1    1  NaN      1      0          28
..      ...  ...  ...    ...    ...         ...
861       2    0   21      1      0         658
862       1    1   48      0      0         659
863       3    1  NaN      8      2         146
864       2    0   24      0      0         660
865       2    1   42      0      0         661
866       2    1   27      1      0         662
867       1    0   31      0      0         663
868       3    0  NaN      0      0         664
869       3    0    4      1      1           6
870       3    0   26      0      0         665
871       1    1   47      1      1         220
872       1    0   33      0      0         666
873       3    0   47      0      0         667
874       2    1   28      1      0         272
875       3    1   15      0      0         668
876       3    0   20      0      0         126
877       3    0   19      0      0         669
878       3    0  NaN      0      0         670
879       1    1   56      0      1         274
880       2    1   25      0      1         230
881       3    0   33      0      0         671
882       3    1   22      0      0         672
883       2    0   28      0      0         673
884       3    0   25      0      0         674
885       3    1   39      0      5          14
886       2    0   27      0      0         675
887       1    1   19      0      0         676
888       3    1  NaN      1      2         612
889       1    0   26      0      0         677
890       3    0   32      0      0         678

[889 rows x 6 columns]

In [118]:
features['Age'].fillna(features['Age'].mean())

2      26.000000
3      35.000000
4      35.000000
5      29.698272
6      54.000000
7       2.000000
8      27.000000
9      14.000000
10      4.000000
11     58.000000
12     20.000000
13     39.000000
14     14.000000
15     55.000000
16      2.000000
17     29.698272
18     31.000000
19     29.698272
20     35.000000
21     34.000000
22     15.000000
23     28.000000
24      8.000000
25     38.000000
26     29.698272
27     19.000000
28     29.698272
29     29.698272
30     40.000000
31     29.698272
         ...
861    21.000000
862    48.000000
863    29.698272
864    24.000000
865    42.000000
866    27.000000
867    31.000000
868    29.698272
869     4.000000
870    26.000000
871    47.000000
872    33.000000
873    47.000000
874    28.000000
875    15.000000
876    20.000000
877    19.000000
878    29.698272
879    56.000000
880    25.000000
881    33.000000
882    22.000000
883    28.000000
884    25.000000
885    39.000000
886    27.000000
887    19.000000
888    29.698272
889    26.000000
890    32.000000
Name: Age, dtype: float64

In [126]:
features.describe()

           Pclass         Sex         Age       SibSp       Parch  Ticket_enc
count  889.000000  889.000000  712.000000  889.000000  889.000000  889.000000
mean     2.309336    0.352081   29.698272    0.521935    0.382452  305.548931
std      0.835537    0.477888   14.540716    1.103752    0.806761  196.971016
min      1.000000    0.000000    0.420000    0.000000    0.000000    0.000000
25%      2.000000    0.000000   20.000000    0.000000    0.000000  134.000000
50%      3.000000    0.000000   28.000000    0.000000    0.000000  284.000000
75%      3.000000    1.000000   38.000000    1.000000    0.000000  473.000000
max      3.000000    1.000000   80.000000    8.000000    6.000000  678.000000

In [119]:
x = features.as_matrix()

In [122]:
y = y[0:889]

In [31]:
x[0:2]

array([[3, 1, 26.0, 0, 0, 'STON/O2. 3101282', 7.925, nan, 'S'],
       [1, 1, 35.0, 1, 0, '113803', 53.1, 'C123', 'S']], dtype=object)

In [123]:
x_train, x_test, y_train, y_test = train_test_split(
    x, y, test_size=0.25, random_state=42)

In [124]:
lr = LogisticRegression()

In [125]:
lr.fit(x_train,y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').