In [1]:
import numpy as np
import csv
from sklearn.cross_validation import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.externals import joblib
from sklearn.metrics import roc_curve, auc
from sklearn.cross_validation import train_test_split
from sklearn.cross_validation import StratifiedKFold
from scipy import interp
from  matplotlib import pyplot as plt
from sklearn import cross_validation
import pandas as pd
from sklearn.metrics import roc_auc_score
from sklearn import metrics, preprocessing
import pickle
import matplotlib.pyplot as plt
import matplotlib.cm as cm
%matplotlib inline

In [2]:
df = pd.read_json("~/Documents/AML/HW2/train.json")

In [3]:
df.tail(5)

       cuisine     id                                        ingredients
39769    irish  29109  [light brown sugar, granulated sugar, butter, ...
39770  italian  11462  [KRAFT Zesty Italian Dressing, purple onion, b...
39771    irish   2238  [eggs, citrus fruit, raisins, sourdough starte...
39772  chinese  41882  [boneless chicken skinless thigh, minced garli...
39773  mexican   2362  [green chile, jalapeno chilies, onions, ground...

In [4]:
numCuisineInst = df.groupby(['cuisine']).agg(['count'])

In [5]:
numCuisineInst

                id ingredients
             count       count
cuisine
brazilian      467         467
british        804         804
cajun_creole  1546        1546
chinese       2673        2673
filipino       755         755
french        2646        2646
greek         1175        1175
indian        3003        3003
irish          667         667
italian       7838        7838
jamaican       526         526
japanese      1423        1423
korean         830         830
mexican       6438        6438
moroccan       821         821
russian        489         489
southern_us   4320        4320
spanish        989         989
thai          1539        1539
vietnamese     825         825

In [6]:
dummy_values = []

In [10]:
df['ingredients']= df['ingredients'].apply(tuple)

In [11]:
dummy_values.append(pd.get_dummies(df['ingredients']))

In [13]:
# print(dummy_values[0:2])

In [14]:
# df_one_hot_encode = pd.DataFrame(dummy_values)